 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 344px;
}

.u-section-1 .u-group-1 {
  width: 780px;
  min-height: 351px;
  margin: -7px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 auto 0 11px;
}

.u-section-1 .u-text-2 {
  margin: 19px 11px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2225px;
}

.u-section-2 .u-list-1 {
  width: 979px;
  margin: 17px 70px 60px auto;
}

.u-section-2 .u-repeater-1 {
  min-height: 1585px;
  grid-template-columns: calc(33.3333% - 38.6667px) calc(33.3333% - 38.6667px) calc(33.3333% - 38.6667px);
  grid-gap: 58px 58px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 199px;
  width: 276px;
  margin: 0 6px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 11px 6px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 199px;
  width: 276px;
  margin: 0 6px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 11px 6px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 199px;
  width: 276px;
  margin: 0 6px;
}

.u-section-2 .u-text-5 {
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 11px 6px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  height: 199px;
  width: 276px;
  margin: 0 6px;
}

.u-section-2 .u-text-7 {
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  margin: 11px 6px 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  height: 199px;
  width: 276px;
  margin: 0 6px;
}

.u-section-2 .u-text-9 {
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  margin: 11px 6px 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-6 {
  height: 199px;
  width: 276px;
  margin: 0 6px;
}

.u-section-2 .u-text-11 {
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  margin: 11px 6px 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-image-7 {
  height: 199px;
  width: 276px;
  margin: 0 6px;
}

.u-section-2 .u-text-13 {
  margin: 0 auto;
}

.u-section-2 .u-text-14 {
  font-size: 1rem;
  margin: 11px 6px 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-image-8 {
  height: 199px;
  width: 276px;
  margin: 0 6px;
}

.u-section-2 .u-text-15 {
  margin: 0 auto;
}

.u-section-2 .u-text-16 {
  font-size: 1rem;
  margin: 11px 6px 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-image-9 {
  height: 199px;
  width: 276px;
  margin: 0 6px;
}

.u-section-2 .u-text-17 {
  margin: 0 auto;
}

.u-section-2 .u-text-18 {
  font-size: 1rem;
  margin: 11px 6px 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-image-10 {
  height: 199px;
  width: 276px;
  margin: 0 6px;
}

.u-section-2 .u-text-19 {
  margin: 0 auto;
}

.u-section-2 .u-text-20 {
  font-size: 1rem;
  margin: 11px 6px 0;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-image-11 {
  height: 199px;
  width: 276px;
  margin: 0 6px;
}

.u-section-2 .u-text-21 {
  margin: 0 auto;
}

.u-section-2 .u-text-22 {
  font-size: 1rem;
  margin: 11px 6px 0;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 0;
}

.u-section-2 .u-image-12 {
  height: 199px;
  width: 276px;
  margin: 0 6px;
}

.u-section-2 .u-text-23 {
  margin: 0 auto;
}

.u-section-2 .u-text-24 {
  font-size: 1rem;
  margin: 11px 6px 0;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1522px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 2623px;
    grid-template-columns: calc(50% - 29px) calc(50% - 29px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2973px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2707px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
}